.aboutContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.bio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: left;
    background-color: rgb(236, 237, 218);
    padding: 2em;
    
}

.bioText {
    background-color: rgb(236, 237, 218);
    max-width: 40%;
    border-radius: 5px;
    margin: 1em;
    color: black;
    text-align: center;
}

img {
    margin: 1em;
}

.iconDivider {
    text-align: center;
}