.contactContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: left;
    background-color: rgb(236, 237, 218);
    padding: 2em;
}

a {
    color: black;
}

.contactIcons {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    padding: 3em;
}
