.aiContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: left;
    background-color: rgb(236, 237, 218);
    padding: 2em;
}

.aiTextLeft {
    color: black;
    max-width: 40vw;
    text-align: center;
    padding: 3em;
}

.aiTextRight {
    color: black;
    max-width: 40vw;
    text-align: center;
    padding: 2em;
}

img {
    margin: 1em;
}

/* for mobile */
@media only screen and (max-device-width: 599px) {
    
    .aiContainer {
        flex-direction: column;
        text-align: center;
        max-width: 100%
    }
    
    .aiTextLeft {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 1em;
        padding-top: 1em;
    }
    
    .aiTextRight {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 1em;
        padding-top: 1em;
    }
    

}
