.feContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: left;
    background-color: rgb(236, 237, 218);
    padding: 2em;
}

.feText {
    color: black;
    max-width: 40vw;
    text-align: center;
    padding: 3em;
}

span.link {
    color: rgb(0,0,255);
    font-weight: bold;
}

span.link:hover {
    color: rgb(100,100,200);
    font-weight: bold;
    cursor: pointer;
}


/* for mobile */
@media only screen and (max-device-width: 599px) {
    
    .feContainer {
        flex-direction: column;
        text-align: center;
    }
    
    .feText {
        max-width: 100%;
        padding: 1em;
        text-align: center;
    }
    

}