@media only screen and (max-device-width: 600px) {

    * {
      box-sizing:border-box
    }

    body {
      margin:0;
      background-color: #282c34;
    }
    
    .rainbow {
        background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
        background-size: 100% 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: rainbow 8s ease infinite;
        animation-name: rainbow;
        animation-duration: 8s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
    }
    
    @keyframes rainbow {
        0%   {background-position: 0% 50%;}
        50%  {background-position: 100% 25%;}
        100% {top: 0% 50%;}
    }
    


    .piano {
        margin: auto;
        background-color: #282c34;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    p {
        background-color: #282c34;
        
    }

    ul {
      background: transparent;
      background-color: #282c34;
      display: block;
      margin-right: 18em;
    }

    li {
      list-style:none;
      display: inline-block;
      position:absolute;
    }

    ul .white {
      height:4em;
      width:16em;
      z-index:1;
      border-left:1px solid #bbb;
      border-bottom:1px solid #bbb;
      border-radius:0 0 5px 5px;
      box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
      background:linear-gradient(to bottom,#eee 0%,#fff 100%)
    }

    ul .white:active {
      border-top:1px solid #777;
      border-left:1px solid #999;
      border-bottom:1px solid #999;
      box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
      background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
    }

    .black {
      height:2em;
      width:8em;
      margin:0 0 0 -8em;
      z-index:2;
      border:1px solid #000;
      border-radius:0 0 3px 3px;
      box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
      background:linear-gradient(45deg,#222 0%,#555 100%)
    }

    .black:active {
      box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
      background:linear-gradient(to right,#444 0%,#222 100%)
    }

    .f {
        margin:0em 0em 0em 0em;
        border-radius:5px 0 5px 5px
    }
    
    .fs {
        margin:3em 0em 0em 8em;
    }
    
    .g {
        margin:4em 0em 0em 0em;
    }
    
    .gs {
        margin:7em 0em 0em 8em;
    }
    
    .a {
        margin:8em 0em 0em 0em;
    }
    
    .as {
        margin:11em 0em 0em 8em;
    }
    
    .b {
        margin:12em 0em 0em 0em;
    }
    
    .c {
        margin:16em 0em 0em 0em;
    }
    
    .cs {
        margin:19em 0em 0em 8em;
    }
    
    .d {
        margin:20em 0em 0em 0em;
    }
    
    .ds {
        margin:23em 0em 0em 8em;
    }
    
    .e {
        margin:24em 0em 0em 0em;
    }



    ul li:first-child {
      border-radius:5px 0 5px 5px
    }

    ul li:last-child {
      border-radius:0 5px 5px 5px
    }

} /* end mobile only css */
@media only screen and (min-device-width: 600px) {
    
    
    .rainbow-text {
        opacity: 0.5;
      background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
      text-align: center;
      color: white;
      border-radius: 1em;
      background-size: 800% 800%;
      -webkit-background-clip: padding-box;
      -webkit-text-fill-color: transparent;
      font-size: 24px;
      animation: rainbow 8s ease infinite;
    }

    @keyframes rainbow { 
        0%{background-position:0% 50%}
        50%{background-position:100% 25%}
        100%{background-position:0% 50%}
    }


    * {
      box-sizing:border-box
    }

    body {
      margin:0;
      background:#222
    }

    ul {
      height:18.875em;
      width:34em;
      margin:5em auto;
      padding:0em 0em 0em 6em;
      position:relative;
    }

    li {
      margin:0;
      padding:0;
      list-style:none;
      position:relative;
      float:left;
    }

    ul .white {
      height:16em;
      width:4em;
      z-index:1;
      display: flex;
      justify-content: space-around;
      /* Remove default padding from major browsers */
      padding: 0;
      border-left:1px solid #bbb;
      border-bottom:1px solid #bbb;
      border-radius:0 0 5px 5px;
      box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
      background:linear-gradient(to bottom,#eee 0%,#fff 100%)
    }

    ul .white:active {
      border-top:1px solid #777;
      border-left:1px solid #999;
      border-bottom:1px solid #999;
      box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
      background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
    }

    .black {
      height:8em;
      width:2em;
      margin:0 0 0 -1em;
      z-index:2;
      border:1px solid #000;
      border-radius:0 0 3px 3px;
      box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
      background:linear-gradient(45deg,#222 0%,#555 100%)
    }

    .black:active {
      box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
      background:linear-gradient(to right,#444 0%,#222 100%)
    }

    .a,.g,.f,.d,.e {
      margin:0 0 0 -1em
    }
    
    .b {
        margin:0 0 0 -1em
    }
    
    .c {
        margin:0 0 0 0em
    }
    

    ul li:first-child {
      border-radius:5px 0 5px 5px
    }

    ul li:last-child {
      border-radius:0 5px 5px 5px
    }
    
    .iconWrapper {
        padding-top: 10em;
    }

}